.resizer {
    display: inline-block;
    background: grey;
    opacity: 0;
    width: 10px;
    height: 75px;
    position: absolute;
    right: 4px;
    top: -10px;
    z-index: 1;
    touch-action:none;
}

.rotate-text {
    transform: rotate(-90deg) translate(-25px, -8px);
}

input[type=checkbox]{
    scale: 1.7;
    margin-left: 4px !important;
    margin-top: 4px !important;
    cursor: pointer;
}

